.add-training-session {
  height: 100%;
  width: 100%;
}
.hide_class {
  display: none;
}
.bg-secondary hr {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.bg-secondary .index {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
